<section class="contact py-5" id="contact">

    <div class="container">

        <div class="text-center mb-5">

            <h6 class="section-title fw-bold">
                CONTACT
            </h6>

            <h2 class="section-subtitle fw-bold">
                Get In Touch
            </h2>

            <p class="description mx-auto">
                Feel free to contact me anytime.
            </p>

        </div>

        <div class="row g-5">

            <div class="col-lg-5">

                <div class="contact-info ">

                    <h4>Contact Information</h4>

                    <p>
                        <i class="fa-solid fa-envelope me-2"></i>

                        abeiraljadyli@gmail.com
                    </p>

                    <p>
                        <i class="fa-solid fa-phone me-2"></i>

                        +20 10 XXX XXXX
                    </p>

                    <p>
                        <i class="fa-solid fa-location-dot me-2"></i>

                        Cairo, Egypt
                    </p>

                </div>

            </div>

            <div class="col-lg-7">

                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">

                    <!-- *name -->
                    <input formControlName="name" type="text" class="form-control mb-3" placeholder="Your Name">
                    <p *ngIf="contactForm.get('name')?.getError('required') &&
                      contactForm.get('name')?.touched" class="bg-danger">please fillout this field</p>
                        <p *ngIf="contactForm.get('name')?.getError('minlength')" class="bg-danger">name must be at least
                            3characters long</p>
                    <p *ngIf="contactForm.get('name')?.getError('maxlength')" class="bg-danger">name must be at most
                        16characters long</p>


                    <!--* email -->
                    <input formControlName="email" type="email" class="form-control mb-3" placeholder="Your Email">
                    <p *ngIf="contactForm.get('email')?.getError('required') && contactForm.get('email')?.touched"
                        class="bg-danger">please fillout this field</p>
                    <p *ngIf="contactForm.get('email')?.getError('email')" class="bg-danger">please write correct
                        email</p>


                    <!-- *subject -->
                    <input formControlName="subject" type="text" class="form-control mb-3" placeholder="Subject">
                    <p *ngIf="contactForm.get('subject')?.getError('required') &&
                      contactForm.get('subject')?.touched" class="bg-danger">please fillout this field</p>
                    <p *ngIf="contactForm.get('subject')?.getError('maxlength')" class="bg-danger">subject must be at
                        most 100characters long</p>
                    <p *ngIf="contactForm.get('subject')?.getError('minlength')" class="bg-danger">subject must be at
                        least 5characters long</p>


                    <!-- * message -->
                    <textarea formControlName="message" rows="6" class="form-control mb-3"
                        placeholder="Your Message"></textarea>
                    <p *ngIf="contactForm.get('message')?.getError('required') &&
                      contactForm.get('message')?.touched" class="bg-danger">please fillout this field</p>
                    <p *ngIf="contactForm.get('message')?.getError('maxlength')" class="bg-danger">message must be at
                        most 200characters long</p>
                    <p *ngIf="contactForm.get('message')?.getError('minlength')" class="bg-danger">message must be at
                        least 10characters long</p>


                    <button class="btn btn-outline-light" [disabled]="loading">
                        {{ loading ? 'Sending...' : 'Send Message' }}
                    </button>

                    <p *ngIf="success">Message sent successfully ✅</p>
                    <p *ngIf="error">Failed to send ❌</p>

                </form>

            </div>

        </div>

    </div>

</section>