.section-subtitle{
    color:#6366F1;
    letter-spacing:2px;
    font-weight:600;
}

.section-title{
    color:#fff;
    font-size:45px;
    font-weight:700;
    margin:15px 0;
}

.section-desc{
    color:#94A3B8;
    max-width:600px;
    margin:auto;
}


.service-card .card-body{
    padding:40px 25px;
}

.service-card i{
    font-size:60px;
    transition:.4s;
}

.service-card:hover i{
    transform:scale(1.2) rotate(10deg);
}

.card-title{
    color:#fff;
    font-weight:600;
}

.card-text{
    color:#94A3B8;
    line-height:1.7;
}