<section class="section-component services py-5" id="services">
    <div class="container">

        <div class="text-center mb-5">
            <h6 class="section-title fw-bold">
                MY SERVICES
            </h6>
            <h2 class="section-subtitle fw-bold">
                What I Can Do
            </h2>
            <p class="description mx-auto">
                I create modern, responsive and user-friendly web applications.
            </p>
        </div>

        <div class="row g-4">

            <div class="col-lg-4">
                <div class="card service-card h-100">

                    <div class="card-body text-center">
                        <i class="fa-solid fa-laptop-code"></i>
                        <h4>Frontend Development</h4>
                        <p>
                            Build responsive and modern websites using Angular,
                            Bootstrap and TypeScript.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card service-card h-100">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <h4>Responsive Design</h4>
                        <p>
                            Websites that work perfectly on desktop,
                            tablet and mobile devices.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card service-card h-100">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-code"></i>
                        <h4>REST API Integration</h4>
                        <p>
                            Connect Angular applications with backend APIs.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>