.welcome{
    color:#8b5cf6;
    font-size:22px;
    font-weight:600;
}

.name{
    font-size:65px;
    font-weight:700;
    margin:15px 0;
}

.job{
    color:var(--primary-color);
    font-weight:600;
    margin-bottom:20px;
}

.description{
    color:#b6c2d2;
    line-height:1.9;
    font-size:18px;
    max-width:520px;
}
.profile-img{
    width:420px;
    border-radius:50%;
    border:8px solid var(--primary-color);
    box-shadow:0 0 40px rgba(99,102,241,.4);
}