<section class="section-component hero py-5 m-5" id="home">

  <div class="container">

    <div class="row align-items-center">

      <div class="col-lg-6 col-md-6">
        <span class="welcome">
          👋 Hello, I'm
        </span>

        <h1 class="name">
          Abeir
          <span class="mobile-break"><br></span>
          Al-Jadyli
        </h1>

        <h2 class="job">
          Front-End Angular Developer
        </h2>

        <p class="hero-description">
          I build modern, responsive and user-friendly web applications
          using Angular, Bootstrap, TypeScript and REST APIs.
        </p>

        <div class="buttons mt-4">


          <a  class="btn btn-primary me-4" href="assets/cv/Abeir_AlJadyli_CV.pdf" download="Abeir_AlJadyli_CV.pdf">
            <i class="fa-solid fa-download me-2"></i>
            Download CV
          </a>

          <a class="btn btn-outline-light" (click)="scrollTo('contact')">
            Contact Me
          </a>

        </div>

        <div class="social mt-5  social-links">

          <a href="https://github.com/AbeirAl-Jadyli" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/abeir-al-jadyli-65737536a" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>

          <a href="https://www.facebook.com/people/Abeir-Al-Jadyli/pfbid0VKYxJXHiYx45qMThu3H9qvL8nmbbU77ySfpkdGNodfoxPouaXf6j5WvA58MhUEral/?rdid=nJxS298LceB1yx9N&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F182akYETfF%2F"
            target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="https://www.instagram.com/abeir_abdelhamed?igsh=Y3UwMWgzbjBtZDUy" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>

        </div>

      </div>

      <div class="col-lg-6 col-md-6 text-center">
        <img src="assets/images/icons.jpg" class="profile-img img-fluid" alt="Profile">

      </div>
    </div>

  </div>

</section>



<app-about></app-about>

<app-skills></app-skills>

<app-projects></app-projects>

<app-services></app-services>

<app-contact></app-contact>